In [1]:
### histograms with matplotlib

import pandas as pd
from matplotlib import pyplot as plt

In [2]:
data = pd.read_csv('dataii.csv')
data.head()

       country continent  year  lifeExpectancy  population  gdpPerCapita
0  Afghanistan      Asia  1952          28.801     8425333    779.445314
1  Afghanistan      Asia  1957          30.332     9240934    820.853030
2  Afghanistan      Asia  1962          31.997    10267083    853.100710
3  Afghanistan      Asia  1967          34.020    11537966    836.197138
4  Afghanistan      Asia  1972          36.088    13079460    739.981106

In [3]:
set(data.continent)

{'Africa', 'Americas', 'Asia', 'Europe', 'Oceania'}

In [4]:
data2007 = data[data.year == 2007]

In [7]:
asia2007 = data2007[data2007.continent == 'Asia']
europe2007 = data2007[data2007.continent == 'Europe']

In [8]:
asia2007.head()

         country continent  year  lifeExpectancy  population  gdpPerCapita
11   Afghanistan      Asia  2007          43.828    31889923    974.580338
95       Bahrain      Asia  2007          75.635      708573  29796.048340
107   Bangladesh      Asia  2007          64.062   150448339   1391.253792
227     Cambodia      Asia  2007          59.723    14131858   1713.778686
299        China      Asia  2007          72.961  1318683096   4959.114854

In [9]:
europe2007.head()

,country,continent,year,lifeExpectancy,population,gdpPerCapita
23,Albania,Europe,2007,76.423,3600523,5937.029526
83,Austria,Europe,2007,79.829,8199783,36126.492700
119,Belgium,Europe,2007,79.441,10392226,33692.605080
155,Bosnia and Herzegovina,Europe,2007,74.852,4552198,7446.298803
191,Bulgaria,Europe,2007,73.005,7322858,10680.792820

In [10]:
set(asia2007.country)

{'Afghanistan',
 'Bahrain',
 'Bangladesh',
 'Cambodia',
 'China',
 'Hong Kong, China',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Israel',
 'Japan',
 'Jordan',
 'Korea, Dem. Rep.',
 'Korea, Rep.',
 'Kuwait',
 'Lebanon',
 'Malaysia',
 'Mongolia',
 'Myanmar',
 'Nepal',
 'Oman',
 'Pakistan',
 'Philippines',
 'Saudi Arabia',
 'Singapore',
 'Sri Lanka',
 'Syria',
 'Taiwan',
 'Thailand',
 'Vietnam',
 'West Bank and Gaza',
 'Yemen, Rep.'}

In [11]:
set(europe2007.country)

{'Albania',
 'Austria',
 'Belgium',
 'Bosnia and Herzegovina',
 'Bulgaria',
 'Croatia',
 'Czech Republic',
 'Denmark',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hungary',
 'Iceland',
 'Ireland',
 'Italy',
 'Montenegro',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'Romania',
 'Serbia',
 'Slovak Republic',
 'Slovenia',
 'Spain',
 'Sweden',
 'Switzerland',
 'Turkey',
 'United Kingdom'}